.Profile {
  margin-top: 60px;
  color: rgb(78, 77, 77);
}

.header {
  width: 80%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid rgb(219, 218, 218);
}

.header h1 {
  margin: 10px 0;
}

.header p {
  margin: 5px 0;
  color: gray;
}

.profilePic {
  position: relative;
  cursor: pointer;
  width: 140px;
  height: 140px;
}

.profilePic input {
  display: none;
}

.image1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 1;
  transition: all 1000ms ease-in-out;
}

.image2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 0;
  transition: all 1000ms ease-in-out;
}

.profilePic:hover .image1 {
  opacity: 0.3;
}

.profilePic:hover .image2 {
  opacity: 0.7;
}

@media (max-width: 600px) {
  .header {
    width: 95%;
  }
  .header h1 {
    font-size: 25px;
  }
}
