.MealPlanner {
  font: inherit;
  display: flex;
  flex-direction: column;
  color: rgb(248, 248, 248);
}

.MealPlanner input {
  width: 62%;
  max-width: 270px;
}

.MealPlanner ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.MealPlanner li {
  margin: auto 15px;
}

.MealPlanner select {
  margin: 5px auto;
  height: 40px;
  outline: none;
  border: 1px solid #cccccc;
  background-color: white;
  font: inherit;
  padding: 6px 20px 6px;
  box-sizing: border-box;
  display: block;
  transition: all 300ms ease-in-out;
}

.MealPlanner select:focus {
  border: 2px solid rgb(39, 39, 39);
  border-radius: 4px;
}

.Image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 35%;
  height: 320px;
}

.warn {
  font-size: small;
  font-weight: bold;
  color: rgb(243, 78, 78);
  background-color: rgb(252, 242, 242);
  width: 70%;
  margin: auto;
  max-width: 260px;
  border-radius: 2px;
}

.List {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-evenly;
  align-items: flex-start;
}
