.MealPlanner {
  font: inherit;
  display: flex;
  flex-direction: column;
  color: rgb(248, 248, 248);
}

.MealPlanner input {
  width: 62%;
  max-width: 270px;
}

.MealPlanner ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.MealPlanner li {
  margin: auto 15px;
}

.Image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 35%;
  height: 250px;
}

.List {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-evenly;
  align-items: flex-start;
}
