.Loader {
  height: 200px;
  width: 300px;
  margin: auto;
}

.Loader circle {
  fill: none;
  animation: jump 2s ease-in 0ms infinite;
}

.Loader circle:nth-child(1) {
  fill: #ffc114;
  animation-delay: 0.1s;
}

.Loader circle:nth-child(2) {
  fill: #19cdca;
  animation-delay: 0.4s;
}

.Loader circle:nth-child(3) {
  fill: #ff5248;
  animation-delay: 0.7s;
}

.Loader circle:nth-child(4) {
  fill: #4e80e1;
  animation-delay: 1s;
}

@keyframes jump {
  50% {
    transform: translate3d(0, -40px, 0);
  }
}
