.SideDrawer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  height: 100vh;
  width: 260px;
  border: 1px solid white;
  background-color: white;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease-out;
}

.SideDrawer img {
  margin: 15px auto;
  width: 90%;
  height: 220px;
  border-radius: 5px;
}

@media (min-width: 500px) {
  .SideDrawer {
    display: none;
  }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}
