.Home {
  margin-top: 60px auto;
  color: rgb(78, 77, 77);
  font: inherit;
}

.header {
  color: white;
  width: 100%;
  padding: 20px 20px 45px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  box-sizing: border-box;
  background: linear-gradient(
    to bottom right,
    rgb(255, 21, 150),
    rgb(114, 65, 133)
  );
}

.header h1 {
  margin: 20px;
}

.header p {
  margin: 5px;
}

.websiteIntro {
  display: flex;
  flex-direction: column;
}

.svg1 {
  width: 20%;
  min-width: 130px;
  align-self: flex-start;
}

.svg2 {
  width: 30%;
  min-width: 130px;
  align-self: flex-end;
}

.services {
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

.services h1 {
  color: rgb(97, 69, 97);
}

.services ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.services li {
  margin: 30px;
  background-color: rgb(144, 125, 145);
  padding: 10px 20px;
  color: white;
  border-radius: 4px;
  box-shadow: 3px 3px 7px rgb(197, 156, 197);
}

@media (max-width: 600px) {
  .header {
    padding: 20px 2px 45px 2px;
  }
  .header h1 {
    font-size: 25px;
    margin: 20px 0;
  }
  .header p {
    font-size: 14.5px;
    margin: 8px 1px;
    text-align: center;
  }
}
