.NavigationBar {
  padding: 0 20px 0;
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  color: rgb(78, 77, 77);
}

.NavigationBar a {
  color: rgb(78, 77, 77);
  text-decoration: none;
  margin: 0px 10px;
}

.NavigationBar a:hover,
.NavigationBar a:active,
.NavigationBar a.active {
  color: #5488c0;
}

.Logo {
  height: 100%;
}
